NET CLK      LOC="J4"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET TXD       LOC="N6" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # TX
NET RXD       LOC="M7" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; 	    # RX

# LEDS
NET "LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

# Port A I/O Pins
NET "PORTA<0>"  LOC="E7"  | IOSTANDARD=LVTTL;
NET "PORTA<1>"  LOC="C8"  | IOSTANDARD=LVTTL;
NET "PORTA<2>"  LOC="D8"  | IOSTANDARD=LVTTL;
NET "PORTA<3>"  LOC="E8"  | IOSTANDARD=LVTTL;
NET "PORTA<4>"  LOC="D9"  | IOSTANDARD=LVTTL;
NET "PORTA<5>"  LOC="A10" | IOSTANDARD=LVTTL;
NET "PORTA<6>"  LOC="B10" | IOSTANDARD=LVTTL;
NET "PORTA<7>"  LOC="C10" | IOSTANDARD=LVTTL;

## Port B I/O Pins
NET "PORTB<0>"  LOC="E11" | IOSTANDARD=LVTTL;
NET "PORTB<1>"  LOC="D14" | IOSTANDARD=LVTTL;
NET "PORTB<2>"  LOC="D12" | IOSTANDARD=LVTTL;
NET "PORTB<3>"  LOC="E12" | IOSTANDARD=LVTTL;
NET "PORTB<4>"  LOC="E13" | IOSTANDARD=LVTTL;
NET "PORTB<5>"  LOC="F13" | IOSTANDARD=LVTTL;
NET "PORTB<6>"  LOC="F12" | IOSTANDARD=LVTTL;
NET "PORTB<7>"  LOC="F14" | IOSTANDARD=LVTTL;

# Port C I/O Pins
NET "PORTC<0>"  LOC="J13" | IOSTANDARD=LVTTL;
NET "PORTC<1>"  LOC="J12" | IOSTANDARD=LVTTL;
NET "PORTC<2>"  LOC="K14" | IOSTANDARD=LVTTL;
NET "PORTC<3>"  LOC="L14" | IOSTANDARD=LVTTL;
NET "PORTC<4>"  LOC="L13" | IOSTANDARD=LVTTL;
NET "PORTC<5>"  LOC="M14" | IOSTANDARD=LVTTL;
NET "PORTC<6>"  LOC="M13" | IOSTANDARD=LVTTL;
NET "PORTC<7>"  LOC="N14" | IOSTANDARD=LVTTL;

# Port E I/O Pins
NET "PORTE<0>"  LOC="D5" | IOSTANDARD=LVTTL;
NET "PORTE<1>"  LOC="A4" | IOSTANDARD=LVTTL;
NET "PORTE<2>"  LOC="G5" | IOSTANDARD=LVTTL;
NET "PORTE<3>"  LOC="A3" | IOSTANDARD=LVTTL;
NET "PORTE<4>"  LOC="B3" | IOSTANDARD=LVTTL;
NET "PORTE<5>"  LOC="A2" | IOSTANDARD=LVTTL;
NET "PORTE<6>"  LOC="B2" | IOSTANDARD=LVTTL;
NET "PORTE<7>"  LOC="C3" | IOSTANDARD=LVTTL;

# Port F I/O Pins
NET "PORTF<0>"  LOC="E2" | IOSTANDARD=LVTTL;
NET "PORTF<1>"  LOC="E1" | IOSTANDARD=LVTTL;
NET "PORTF<2>"  LOC="E4" | IOSTANDARD=LVTTL;
NET "PORTF<3>"  LOC="F4" | IOSTANDARD=LVTTL;
NET "PORTF<4>"  LOC="F5" | IOSTANDARD=LVTTL;
NET "PORTF<5>"  LOC="G3" | IOSTANDARD=LVTTL;
NET "PORTF<6>"  LOC="F3" | IOSTANDARD=LVTTL;
NET "PORTF<7>"  LOC="G1" | IOSTANDARD=LVTTL;

NET DRAM_ADDR(0)  LOC="T15" | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR0
NET DRAM_ADDR(1)  LOC="R16" | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR1
NET DRAM_ADDR(2)  LOC="P15" | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR2
NET DRAM_ADDR(3)  LOC="P16" | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR3
NET DRAM_ADDR(4)  LOC="N16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR4
NET DRAM_ADDR(5)  LOC="M15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR5
NET DRAM_ADDR(6)  LOC="M16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR6
NET DRAM_ADDR(7)  LOC="L16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR7
NET DRAM_ADDR(8)  LOC="K15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR8
NET DRAM_ADDR(9)  LOC="K16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR9
NET DRAM_ADDR(10) LOC="R15" | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR10
NET DRAM_ADDR(11) LOC="J16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR11
NET DRAM_ADDR(12) LOC="H15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # ADDR12

NET DRAM_DQ(0)  LOC="T13"   | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA0
NET DRAM_DQ(1)  LOC="T12"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA1
NET DRAM_DQ(2)  LOC="R12"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA2
NET DRAM_DQ(3)  LOC="T9"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA3
NET DRAM_DQ(4)  LOC="R9"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA4
NET DRAM_DQ(5)  LOC="T7"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA5
NET DRAM_DQ(6)  LOC="R7"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA6
NET DRAM_DQ(7)  LOC="T6"   | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA7
NET DRAM_DQ(8)  LOC="F16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA8
NET DRAM_DQ(9)  LOC="E15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA9
NET DRAM_DQ(10) LOC="E16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA10
NET DRAM_DQ(11) LOC="D16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA11
NET DRAM_DQ(12) LOC="B16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA12
NET DRAM_DQ(13) LOC="B15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA13
NET DRAM_DQ(14) LOC="C16"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA14
NET DRAM_DQ(15) LOC="C15"  | IOSTANDARD=LVTTL | SLEW=FAST | NODELAY;                                # DATA15

NET DRAM_DQM(0) LOC="T5"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # DQML OK
NET DRAM_DQM(1) LOC="F15"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # DQMH OK
NET DRAM_BA(0)  LOC="R14"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # BA0 OK
NET DRAM_BA(1)  LOC="T14"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # BA1 OK

NET DRAM_WE_N   LOC="R5"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # nWE OK OK
NET DRAM_CAS_N  LOC="T4"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # nCAS OK OK
NET DRAM_RAS_N  LOC="R2"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # nRAS OK OK
NET DRAM_CS_N   LOC="R1"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # nCS OK OK

NET DRAM_CLK    LOC="G16"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # CLK OK
NET DRAM_CKE    LOC="H16"  | IOSTANDARD=LVTTL | SLEW=FAST;                                # CKE OK

NET SPI_CS      LOC="T3"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CS   OK
NET SPI_SCK     LOC="R11"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CK   OK
NET SPI_MOSI    LOC="T10"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_SI   OK
NET SPI_MISO    LOC="P10"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # FLASH_SO   OK
