//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 18 00:42:22 2015
//! **************************************************************************

SCHEMATIC START;
COMP "PORTA<0>" LOCATE = SITE "E7" LEVEL 1;
COMP "PORTA<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "PORTA<2>" LOCATE = SITE "D8" LEVEL 1;
COMP "PORTA<3>" LOCATE = SITE "E8" LEVEL 1;
COMP "PORTB<0>" LOCATE = SITE "E11" LEVEL 1;
COMP "PORTA<4>" LOCATE = SITE "D9" LEVEL 1;
COMP "PORTB<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "PORTA<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "PORTB<2>" LOCATE = SITE "D12" LEVEL 1;
COMP "PORTA<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "PORTB<3>" LOCATE = SITE "E12" LEVEL 1;
COMP "PORTA<7>" LOCATE = SITE "C10" LEVEL 1;
COMP "PORTC<0>" LOCATE = SITE "J13" LEVEL 1;
COMP "PORTB<4>" LOCATE = SITE "E13" LEVEL 1;
COMP "PORTC<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "PORTB<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "PORTC<2>" LOCATE = SITE "K14" LEVEL 1;
COMP "PORTB<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "PORTC<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "PORTB<7>" LOCATE = SITE "F14" LEVEL 1;
COMP "PORTC<4>" LOCATE = SITE "L13" LEVEL 1;
COMP "PORTC<5>" LOCATE = SITE "M14" LEVEL 1;
COMP "PORTC<6>" LOCATE = SITE "M13" LEVEL 1;
COMP "PORTC<7>" LOCATE = SITE "N14" LEVEL 1;
COMP "PORTE<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "PORTE<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "PORTE<2>" LOCATE = SITE "G5" LEVEL 1;
COMP "PORTE<3>" LOCATE = SITE "A3" LEVEL 1;
COMP "PORTF<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "PORTE<4>" LOCATE = SITE "B3" LEVEL 1;
COMP "PORTF<1>" LOCATE = SITE "E1" LEVEL 1;
COMP "PORTE<5>" LOCATE = SITE "A2" LEVEL 1;
COMP "PORTF<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "PORTE<6>" LOCATE = SITE "B2" LEVEL 1;
COMP "PORTF<3>" LOCATE = SITE "F4" LEVEL 1;
COMP "PORTE<7>" LOCATE = SITE "C3" LEVEL 1;
COMP "PORTF<4>" LOCATE = SITE "F5" LEVEL 1;
COMP "PORTF<5>" LOCATE = SITE "G3" LEVEL 1;
COMP "PORTF<6>" LOCATE = SITE "F3" LEVEL 1;
COMP "PORTF<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "R11" LEVEL 1;
COMP "CLK" LOCATE = SITE "J4" LEVEL 1;
COMP "RXD" LOCATE = SITE "M7" LEVEL 1;
COMP "TXD" LOCATE = SITE "N6" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T10" LEVEL 1;
COMP "DRAM_ADDR<10>" LOCATE = SITE "R15" LEVEL 1;
COMP "DRAM_ADDR<11>" LOCATE = SITE "J16" LEVEL 1;
COMP "DRAM_ADDR<12>" LOCATE = SITE "H15" LEVEL 1;
COMP "DRAM_BA<0>" LOCATE = SITE "R14" LEVEL 1;
COMP "DRAM_BA<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "DRAM_DQ<0>" LOCATE = SITE "T13" LEVEL 1;
COMP "DRAM_DQ<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "DRAM_DQ<2>" LOCATE = SITE "R12" LEVEL 1;
COMP "DRAM_DQ<3>" LOCATE = SITE "T9" LEVEL 1;
COMP "DRAM_DQ<4>" LOCATE = SITE "R9" LEVEL 1;
COMP "DRAM_DQ<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "DRAM_DQ<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "DRAM_DQ<7>" LOCATE = SITE "T6" LEVEL 1;
COMP "DRAM_DQ<8>" LOCATE = SITE "F16" LEVEL 1;
COMP "DRAM_DQ<9>" LOCATE = SITE "E15" LEVEL 1;
COMP "DRAM_CAS_N" LOCATE = SITE "T4" LEVEL 1;
COMP "DRAM_RAS_N" LOCATE = SITE "R2" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "T3" LEVEL 1;
COMP "DRAM_ADDR<0>" LOCATE = SITE "T15" LEVEL 1;
COMP "DRAM_ADDR<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "DRAM_ADDR<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "DRAM_ADDR<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "DRAM_ADDR<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "DRAM_ADDR<5>" LOCATE = SITE "M15" LEVEL 1;
COMP "DRAM_ADDR<6>" LOCATE = SITE "M16" LEVEL 1;
COMP "DRAM_ADDR<7>" LOCATE = SITE "L16" LEVEL 1;
COMP "DRAM_ADDR<8>" LOCATE = SITE "K15" LEVEL 1;
COMP "DRAM_ADDR<9>" LOCATE = SITE "K16" LEVEL 1;
COMP "DRAM_CS_N" LOCATE = SITE "R1" LEVEL 1;
COMP "DRAM_WE_N" LOCATE = SITE "R5" LEVEL 1;
COMP "DRAM_DQ<10>" LOCATE = SITE "E16" LEVEL 1;
COMP "DRAM_DQ<11>" LOCATE = SITE "D16" LEVEL 1;
COMP "DRAM_DQ<12>" LOCATE = SITE "B16" LEVEL 1;
COMP "DRAM_DQ<13>" LOCATE = SITE "B15" LEVEL 1;
COMP "DRAM_DQ<14>" LOCATE = SITE "C16" LEVEL 1;
COMP "DRAM_DQ<15>" LOCATE = SITE "C15" LEVEL 1;
COMP "DRAM_CKE" LOCATE = SITE "H16" LEVEL 1;
COMP "DRAM_CLK" LOCATE = SITE "G16" LEVEL 1;
COMP "DRAM_DQM<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "DRAM_DQM<1>" LOCATE = SITE "F15" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "M9" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "T8" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "N8" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "P7" LEVEL 1;
NET "clkgen_inst/clkin_i" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

